#platform
platform/*/rootfs/opt/app/db/*.gz

#temp
/temp/hi3536/*
/temp/hi3536c/*
/temp/hi3536g/*
/temp/hi3798/*
/temp/hi3535/*
/temp/nt98323/*
/temp/hi3536a/*
/temp/nt98633/*

#libs
/src/libs/tbox/*

#public
/src/public/include/*.orig
/src/public/include/*.orig
/src/sysconf/*.orig
/src/public/lib/*/libtbox.a

#qt
/src/*.user*
/src/MsQt/*.user*
/src/build-*
/src/msgui/Makefile
/src/msgui/gui.rcc
/src/msgui/msgui.pro.user*
/src/msgui/qrc_resource.cpp
/src/msgui-*-Release
/src/msgui-*-Debug
/src/msgui/mscore/*.orig
/src/msgui/mscore/msawsiot/*.orig
/src/msqdebug/msqdebug.pro.user*
/src/qlibs/*.user*

#miniqt
src/miniqt-build*
targets/*/app/bin/miniqt

#web
src/web/.idea

#boards
src/boards/*/firmware/*.o
src/boards/*/firmware/env/*.o
/src/boards/*/*.o
/src/boards/*/firmware/env/crc32.c
/src/boards/*/firmware/env/fw_printenv
/src/boards/*/firmware/host_upfw
/src/boards/*/firmware/update
/src/boards/*/firmware/update_IMG
src/boards/nt98323/firmware/FWupdate/*.o
src/boards/nt98323/firmware/FWupdate/packer

#rtsp
src/libs/msrtsp/*/*/*/*/*/*.d
src/libs/msrtsp/*/*/*/*/*/*.a
src/libs/msrtsp/*/*/*/*/*/*.o
src/libs/msrtsp/*/*/*/*/*.d
src/libs/msrtsp/*/*/*/*/*.a
src/libs/msrtsp/*/*/*/*/*.o
src/libs/msrtsp/*/*/*/*.d
src/libs/msrtsp/*/*/*/*.a
src/libs/msrtsp/*/*/*/*.o
src/libs/msrtsp/*/*/*.d
src/libs/msrtsp/*/*/*.a
src/libs/msrtsp/*/*/*.o
src/libs/msrtsp/media-server/test/*/media-server-test
src/public/lib/*/libaio.a
src/public/lib/*/libhttp.a
src/public/lib/*/libice.a
src/public/lib/*/libmediasdk.a
src/public/lib/*/libmsstream.a
src/public/lib/*/librtp.a
src/public/lib/*/librtsp.a
src/public/lib/*/media-server-test
targets/*/app/libs/librecortsp.so*

#tool
platform/nt98323/rootfs/usr/local/bin/cfg_DVR_8CH_max.dtb
tools/nt98323/makfs/cfg_DVR_8CH_max.dtb
tools/nt98323/makfs/cfg_DVR_8CH_max.tmp.dts
platform/nt98323/rootfs/usr/local/bin/cfg_DVR_4CH_max.dtb
tools/nt98323/makfs/cfg_DVR_4CH_max.dtb
tools/nt98323/makfs/cfg_DVR_4CH_max.tmp.dts
platform/nt98633/rootfs/usr/local/bin/cfg_DVR_16CH.dtb
tools/nt98633/makfs/cfg_DVR_16CH.dtb
tools/nt98633/makfs/cfg_DVR_16CH.tmp.dts

/targets/*/nfsroot/*

/targets/*/app/www/*
targets/*/app/bin/arm_loading
targets/*/app/bin/boa
targets/*/app/bin/daemon
targets/*/app/bin/dbtools
targets/*/app/bin/demo
targets/*/app/bin/dhcpcd
targets/*/app/bin/dosfsck
targets/*/app/bin/fio
targets/*/app/bin/fw_printenv
targets/*/app/bin/fw_setenv
targets/*/app/bin/gsnap
targets/*/app/bin/gui.rcc
targets/*/app/bin/hardware
targets/*/app/bin/main
targets/*/app/bin/mkdosfs
targets/*/app/bin/mschip_update
targets/*/app/bin/mscli
targets/*/app/bin/mscore
targets/*/app/bin/msjs
targets/*/app/bin/mskb
targets/*/app/bin/msmail
targets/*/app/bin/msprofile
targets/*/app/bin/mssp
targets/*/app/bin/msupdate
targets/*/app/bin/showlogo
targets/*/app/bin/smtp
targets/*/app/bin/sysconf
targets/*/app/bin/temperature
targets/*/app/bin/update
targets/*/app/bin/tsar
targets/*/app/bin/msop
targets/*/app/libs/libavilib.so
targets/*/app/libs/libchipinfo.so
targets/*/app/libs/libencrypt.so
targets/*/app/libs/libfisheye.so
targets/*/app/libs/libgpio.so
targets/*/app/libs/liblog.so
targets/*/app/libs/libmov.so
targets/*/app/libs/libmscrypt.so
targets/*/app/libs/libmsdb.so
targets/*/app/libs/libmsfs.so
targets/*/app/libs/libmsini.so
targets/*/app/libs/libmsptz.so
targets/*/app/libs/libmssocket.so
targets/*/app/libs/libmsstd.so
targets/*/app/libs/libmstde.so
targets/*/app/libs/libosa.so
targets/*/app/libs/libovfcli.so
targets/*/app/libs/libpoe.so
targets/*/app/libs/libqrencode.so
targets/*/app/libs/libsdkp2p.so
targets/*/app/libs/libtbox.so
targets/*/app/libs/libvapi.so
targets/*/app/libs/libmshw.so
targets/*/app/libs/libsds.so
tools/*/makfs/web.tar.gz

#
/targets/*/firmware/Filesys*
/targets/*/firmware/PARAM*
/targets/*/firmware/JPG*
/targets/*/firmware/KImage*
/targets/*/firmware/MSFImage*
/targets/*/firmware/UBOOT*.bin
/targets/*/firmware/ubifs
/targets/*/firmware/uImage

#db
platform/*/rootfs/opt/app/db/db.tar.gz
platform/*/rootfs/opt/app/db/db_bak.tar.gz


#third-party
tools/third-party/logrotate/POPT/*
tools/third-party/logrotate/logrotate-3.19.0/*

#
src/boards/*/firmware/FWupdate/*.o
src/boards/*/firmware/FWupdate/packer
targets/*/firmware/ext4fs*
src/boards/*/firmware/update_ONLINE_IMG

#vscode
#.vscode
.cache/
compile_commands.json*